<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="template1"
>
  <head>
    <meta charset="utf-8" />
    <title>Form Patients</title>
  </head>
  <body>
    <div layout:fragment="pageContent">
      <div class="container mt-5">
        <div class="card">
          <div class="card-header" th:if="${patient.id == null}">
            Formulaire pour ajouter un nouveau Patient
          </div>
          <div class="card-header" th:if="${patient.id != null}">
            Formulaire pour mise à jour un Patient
          </div>
          <div class="card-body">
            <form th:action="@{savePatient}" method="POST">
              <div class="form-group">
                <span>ID: <label th:text="${patient.id}"></label></span>
                <input
                  type="hidden"
                  name="id"
                  class="form-control"
                  th:value="${patient.id}"
                />
              </div>
              <div class="form-group">
                <label class="control-label">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  th:value="${patient.name}"
                />
                <span th:errors="${patient.name}" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label class="control-label">Date de Naissance</label>
                <input
                  type="date"
                  name="dateNaissance"
                  class="form-control"
                  th:value="${patient.dateNaissance}"
                />
                <span
                  th:errors="${patient.dateNaissance}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group">
                <label class="control-label">Score</label>
                <input
                  type="text"
                  name="score"
                  class="form-control"
                  th:value="${patient.score}"
                />
                <span th:errors="${patient.score}" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label class="control-label">Malade</label>
                <input
                  type="checkbox"
                  name="malade"
                  th:checked="${patient.malade}"
                />
              </div>
              <button class="btn btn-success" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
